@model IEnumerable<Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>@Html.DisplayNameFor(model => model.Mileage)</th>
            <th>@Html.DisplayNameFor(model => model.ImageLocation)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Vehicle vehicle in Model)
        {
            <tr>
                <td>
                    @vehicle.Make
                </td>
                <td>
                    @vehicle.Model
                </td>
                <td>
                    @vehicle.Year
                </td>
                <td>
                    @vehicle.Mileage
                </td>
                <td>
                    <img class="vehicle-image" src="/Images/@vehicle.ImageLocation" alt="" />
                </td>


            </tr>
        }
    </tbody>
</table>
